#banner {
  text-align:center; 
  padding-top:.4em;
}

#view {
  color: white;
}

#menu {
  color: white;
  background: #3D3D3D;
}

#menu_content {
  font-size: 0.8em;
}

#login_form {
  padding-top:.5em;
  margin: 1em 3em;
}

#login_button {
  margin: 1em 3.5em;
}