#header {
  border-bottom: thin solid #FF7D00;
  padding-bottom: 0.05em;
}

#banner {
  text-align:center; 
  padding-right: 2em;
}

#view {
  color: white;
}

#menu_icon {
  float: right;
  position: relative;
  top: 6px;
  width: 25px;
  height: 30px;
  margin-left: 0.3em;
  webkit-transition: left 0.8s ease-in-out;
  -o-transition: left 0.8s ease-in-out;
  transition: left 0.8s ease-in-out;
}

#menu_icon .rectangle {
  height: 3px;
  background-color: #FF7D00;
  margin-bottom: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px #FF7D00;
  -webkit-box-shadow: 0px 0px 5px #FF7D00;
  box-shadow: 0px 0px 5px #FF7D00;
}

#menu {
  color: white;
  background: url('../img/menubackground.png') top center fixed;
}

#menu_content {
  font-size: 0.8em;
}

#menu_content p {
  margin: 0.7em 0;
}

#menu_content span {
  font-size: 0.7em;
}

ul {
  list-style-type: none;
  margin-top: -0.55em;
  padding: 0;
}

li p {
  text-decoration: none;
  display: block;
  padding-left: 0.9em;
  webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

li:active {
  color: #FF7D00;
}

.active_menu_item {
  color: #FF7D00;
}

hr {
  border: 0;
  height: 1px;
  margin-left: -10em;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0)); 
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0)); 
}

#avatar img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#user_details {
  padding-left: 0.6em;
}

.menu_title {
  padding: 0.4em 1em;
  margin: -0.5em -1.2em !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF7D00), to(#833F00)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#FF7D00, #833F00); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(#FF7D00, #833F00); /* FF3.6 */
  background-image:     -ms-linear-gradient(#FF7D00, #833F00); /* IE10 */
  background-image:      -o-linear-gradient(#FF7D00, #833F00); /* Opera 11.10+ */
  background-image:         linear-gradient(#FF7D00, #833F00);
}

#logout_link {
  webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;  
}

#logout_link:active {
  color: #FF7D00;
}

/***** Login *****/

#login_banner {
  text-align: center;
  padding: 0.4em 0.9em;
}

#login_form {
  padding-top:.5em;
  margin: 1em 3em;
}

#login_button {
  margin: 1em 1.5em;
}

/***** Content Pages *****/

.page_title {
  text-align: center;
  background: rgba(128, 128, 128, .5);
  margin-top: -0.9em;
}

.page_title p {
  margin-bottom: 0.2em;
}

.page_title span {
  font-size: 0.8em;
}

/***** Community *****/

#ranking_table {
  font-size: 0.9em;
  margin: 1.3em 1em;
  width: 90%;
  text-align: center;
}

#ranking_table td {
  padding: 0.3em 0;
}

#ranking_points_header {
  text-align: right;
  margin: 0.5em 1.5em -1em 1.2em;
  font-size: 0.8em;
  font-weight: bold;
  width: 90%;  
}

.my_ranking_row {
  background: rgba(128, 128, 128, .5);
  font-weight: bold;
}

/***** Cards *****/

#matches_table {
  font-size: 0.7em;
  width: 100%;
  text-align: center;
  padding: 0.5em;
  margin-top: 0.1em;
}

#matches_table td {
  padding: 0.15em 0;
}

#matches_table div {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  border-radius: 0.2em;
}

#matches_table input {
  font-size: 0.9em;
  text-align: center;
  padding: 0.1em 0;;
}

.card_footer {
  text-align: center;
}

.score_guessed div {
  border: 1px solid green !important;
}

.score_guessed input {
  color: white !important;
  background: rgba(0, 125, 0, .6) !important;
}

.score_missed div {
  border: 1px solid red !important;
}

.score_missed input {
  color: white !important;
  background: rgba(125, 0, 0, .6) !important;
}
