<div jqm-page>
  <div class="page_title">
    <p>{{card.tournament_name}}</p>
    <span>{{card.week_name}}</span>
  </div>
  <table id="matches_table">
    <tr ng-repeat="match in card.matches">
      <td width="37%">{{match.home_team}}</td>
      <td width="7%">
        <div ng-class="{score_guessed: isPublished && isHomeScoreGuessed(match), score_missed: isPublished && (! isHomeScoreGuessed(match))}">
          <div jqm-textinput ng-model="match.home_user_score"></div>
        </div>
      </td>
      <td width="12%"><div>{{match.home_real_score}} - {{match.guest_real_score}}</div></td>
      <td width="7%">
        <div ng-class="{score_guessed: isPublished && isGuestScoreGuessed(match), score_missed: isPublished && (! isGuestScoreGuessed(match))}">
          <div jqm-textinput ng-model="match.guest_user_score"></div>
        </div>
      </td>
      <td width="37%">{{match.guest_team}}</td>
    </tr>
  </table>
  <div class="card_footer" ng-show="isPublished">Fecha cerrada. Obtuviste {{card.points}} puntos!</div>
  <div ng-show="isSubmitable">soy un boton</div>
  <div class="card_footer" ng-show="(! isSubmitable) && (! isPublished)">Fecha cerrada. Pronto sabrás tus puntos!</div>
</div>
