<div jqm-page>
  <div class="page_title">
    <p>{{currentStats.tournament_name}}</p>
    <span>{{currentStats.group_name || 'Ranking General'}}</span>
  </div>
  <table id="ranking_table">
    <p id="ranking_points_header">Puntos</p>
    <tr ng-repeat="r in currentStats.ranking" ng-class="{true:'my_ranking_row', false:''}[currentUserNickName==r.nick_name]">
      <td width="15%">{{r.position}}</td>
      <td width="70%">{{r.nick_name}}</td>
      <td width="15%">{{r.points}}</td>
    </tr>
  </table>
</div>
